form p{
    float: left;
    width: 50%;
}
body{
    vertical-align: middle;
}
html{
    background: red;
    color: white;
    height: 100%;
    text-align: center;
}
button{
    background-color: black;
    color: white;
    border: 2px solid  white;
    margin: 2px;
    font-size: 15px;
}
button:hover{
    background-color: white;
    color: black;
    border: 2px solid  black;
    margin: 2px;
    font-size: 15px;
    transition: 0.5s;
}
form{
    color:black;
    font-size: 35px;
}
p:last-of-type{
    background-color: white;
    color: black;
    border: 2px solid  black;
    margin: 10px;
    font-size: 20px;
    text-align: center
}
p:first-of-type{
    font-size: 20px;
}
div#output{
    width: 100px;
    border: solid 3px white;
    height: 45px;
    padding: 5px;
    text-align: center;
    float: none;
    margin: auto;
    background-color: black;
    border-radius: 7px;
    transition: cubic-bezier();
    color: white;
    font-size: 40px;
}